<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>AKIRA System</title>
  <style>
      body{
          align-items: center;
          align-content: center;
          align-self: center;
      }
.container {
  width: 400px;
  height: 200px;
  background-color: #000;
  color: #fff;
  border-top: 6px #ff7d00 solid;
  border-radius: 5px 5px 0 0;
  padding-left: 20px;
}

  </style>
</head>
<body>
    <div class="container">
      <center><H2>AKIRA System</H2></center>
        <h2>Hello {{name}}! </h2>
        <p>Urakoze kwiyandikisha nkumu agent muri FINVIA code yawe ni: {{code}} </p>
    </div>
</body>
</html>